<html>
    <%-include('partials/head.html');%>
    <body>
        <header>
            <%-include('partials/navegacion.html');%>
        </header>
        <br><br><br><br><br>
        <div class="container">
            <section id="seccion">
                    <h1><center> Contacto </center></h1>
                    <center> <img id="imgc" src="/img/AT.png"> </center>
                        <ul>
                            <li>Marco Antonio Quintero Medina</li>
                            <li>Telefono: 6691991017</li>
                            <li>Direccion: Av. Idependencia 6002 Col.Benito Juarez</li>
                            <center> <img class="img12" src="/img/img1.jpg" > </center>
                            <li>Horario:De lunes a Sábado de 7am a 7pm, Domingo Solo Emergencias </li>
                            <li>Ayudantes: Juan Carlos Medina, Jaime Medina</li>
                        </ul>
                        
            </section>

        </div>
        <%-include('partials/footer.html');%>
    </body>
</html>